{% extends 'base.html.twig' %}

{% block title %}Fil d'actu{% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="post-card">
            <div class="post-header">
                {% set ppPath = 'images/pp/' ~ post.user.username ~ '.jpg' %}
                <img src="{{ asset(ppPath) }}" alt="pp" class="pp" 
                     onerror="this.onerror=null;this.src='{{ asset('images/pp/default.jpg') }}';">
                <span>{{ post.user.username }}</span>
            </div>
            <div class="post-content">
                <p>{{ post.description }}</p>
                <img src="{{ asset('uploads/posts/' ~ post.images) }}" alt="Post Image" class="post-img">
                <div class="post-actions">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-comment"></i>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}









