{% extends 'base.html.twig' %}

{% block title %}Fil d'actu{% endblock %}

{% block body %}
    {% for post in posts %}
        {% for post in posts %}
        <div class="post-card">
            <p>{{ post.description }}</p>
            <img src="{{ asset('images/' ~ post.images) }}" alt="Post Image" class="post-img">
            <span>{{ post.user.username }}</span> <!-- Affiche le nom d'utilisateur -->
        </div>
    {% endfor %}

        <div class="post-card">
            <div class="post-header">
                <img src="{{ asset('images/user.jpg') }}" alt="pp" class="pp">
                <span>{{ post.user.username }}</span> <!-- Affichage du nom d'utilisateur -->
            </div>
            <div class="post-content">
                <img src="{{ asset('images/' ~ post.images) }}" alt="post" class="post-img">
                <div class="post-actions">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-comment"></i>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}







